docs/dify-workflows/MediaJira Agent Miro Snapshot Generator.yml
app:
  description: Generate a MediaJira-compatible Miro board snapshot from AgentChat
    context.
  icon: 🗺️
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: workflow
  name: MediaJira Agent Miro Snapshot Generator
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods: []
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: start-to-llm
      source: start
      sourceHandle: source
      target: llm-generate-snapshot
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: llm-to-end
      source: llm-generate-snapshot
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Unified AgentChat context and Miro snapshot generation rules.
        selected: false
        title: Start
        type: start
        variables:
        - label: board_generation_context
          max_length: 200000
          options: []
          required: true
          type: paragraph
          variable: board_generation_context
        - label: miro_snapshot_rules
          max_length: 100000
          options: []
          required: true
          type: paragraph
          variable: miro_snapshot_rules
      height: 179
      id: start
      position:
        x: 30
        y: 250
      positionAbsolute:
        x: 30
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Convert AgentChat context into one valid MediaJira Miro snapshot JSON
          object.
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: Assistant
            user: User
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.3
            thinking_level: Low
          mode: chat
          name: gemini-3-flash-preview
          provider: langgenius/gemini/google
        prompt_template:
        - id: 4735cec4-512a-4b66-9b90-29a19c0be816
          role: system
          text: 'You are generating a board snapshot for MediaJira''s built-in Miro
            module.


            Return exactly one valid board snapshot JSON object.


            Requirements:

            1. Output JSON only.

            2. No markdown fences.

            3. Follow miro_snapshot_rules.

            4. Use only allowed item types.

            5. Keep text short and readable.

            6. Prefer human-readable summaries.

            7. Raw campaign names may appear only as short secondary text.

            8. Use a simple left-to-right layout with frames.

            9. Use only sections supported by the input.

            10. If decision options exist, show them clearly.

            11. Every item must have positive width and height.

            12. Keep the total item count within the schema limit.

            13. Keep all child items fully inside their parent frame bounds.

            14. When information is dense, compress content instead of creating too
            many separate items.

            15. Prefer fewer, higher-signal items over exhaustive one-to-one rendering.


            Focus only on:

            - anomalies

            - suggested_decision

            - recommended_tasks


            Compression rules:

            - Do not try to render every input entry as its own shape or sticky note
            when that would make the board overcrowded.

            - When anomalies are numerous, group related anomalies into concise summary
            notes.

            - When recommended tasks are numerous, prioritize the highest-signal tasks
            and merge similar tasks into short grouped items.

            - When decision reasoning or context is long, summarize it into one compact
            text or shape block instead of splitting it into many items.

            - When decision options are numerous, always include the selected option
            and the most important alternatives first.

            - If space is tight, reduce the number of sections or items before reducing
            readability.


            Layout rules:

            - Frames are containers and should be large enough for all of their child
            items.

            - Child items must not overflow outside their frame.

            - Keep a clean reading order from left to right and top to bottom.

            - Use concise section titles and avoid oversized text blocks.

            - Prefer one summary block plus a few focused detail items rather than
            many small fragmented blocks.


            Create a practical draft board with concise labels and reasonable initial
            positions.'
        - id: ad91b6f5-81fe-4559-9097-19b81455e99b
          role: user
          text: 'board_generation_context:

            {{#start.board_generation_context#}}


            miro_snapshot_rules:

            {{#start.miro_snapshot_rules#}}


            Return the final board snapshot JSON now.'
        selected: true
        title: Generate Miro Snapshot
        type: llm
        vision:
          enabled: false
      height: 148
      id: llm-generate-snapshot
      position:
        x: 332
        y: 250
      positionAbsolute:
        x: 332
        y: 250
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: Return the generated snapshot JSON as the workflow output.
        outputs:
        - value_selector:
          - llm-generate-snapshot
          - text
          variable: snapshot
        selected: false
        title: End
        type: end
      height: 132
      id: end
      position:
        x: 634
        y: 250
      positionAbsolute:
        x: 634
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -321
      y: -396
      zoom: 1.6
  rag_pipeline_variables: []
