docs/dify-workflows/MediaJira Spreadsheet Analysis.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: MediaJira Spreadsheet Analysis
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.15@ca2b8f2599b87de968354f0e2ccbbc0d76bac5ebf275c3f0fbdae48881d74518
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1773108433359-source-1773108650376-target
      source: '1773108433359'
      sourceHandle: source
      target: '1773108650376'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1773108650376--1773108945724-target
      source: '1773108650376'
      sourceHandle: source
      target: '1773108945724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1773108945724--1773109488777-target
      source: '1773108945724'
      sourceHandle: source
      target: '1773109488777'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1773109488777--1773109958040-target
      source: '1773109488777'
      sourceHandle: source
      target: '1773109958040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773109958040-true-1773110084927-target
      source: '1773109958040'
      sourceHandle: 'true'
      target: '1773110084927'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773109958040-false-1773110151699-target
      source: '1773109958040'
      sourceHandle: 'false'
      target: '1773110151699'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: spreadsheet_data
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: spreadsheet_data
        - default: ''
          hint: JSON object generated by the Column Criteria Generator workflow. Leave
            empty if not available.
          label: success_criteria
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: success_criteria
      height: 149
      id: '1773108433359'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          def main(spreadsheet_data: str, success_criteria: str) -> dict:
              import json

              try:
                  data = json.loads(spreadsheet_data)
              except json.JSONDecodeError:
                  return {
                      'cleaned_data': spreadsheet_data,
                      'column_summary': 'Failed to parse JSON, passing raw data',
                      'criteria_text': ''
                  }

              # Parse success_criteria
              criteria_text = ''
              key_cols_from_criteria = []
              if success_criteria and success_criteria.strip():
                  try:
                      criteria = json.loads(success_criteria)
                      key_cols_from_criteria = criteria.get('key_columns', [])
                      lines = [f"Dataset type: {criteria.get('schema_type', 'unknown')}"]
                      for c in criteria.get('criteria', []):
                          if c.get('anomaly_rule'):
                              lines.append(f"- {c['column']}: {c['anomaly_rule']}")
                      if criteria.get('analysis_goals'):
                          lines.append('Analysis goals:')
                          for g in criteria['analysis_goals']:
                              lines.append(f'  * {g}')
                      criteria_text = '\n'.join(lines)
                  except (json.JSONDecodeError, TypeError):
                      pass

              all_rows = []
              columns_info = []

              sheets = data.get('sheets', [])
              for sheet in sheets:
                  columns = sheet.get('columns', [])
                  columns_info.extend(columns)
                  rows = sheet.get('rows', [])

                  # Use key_columns from criteria when available;
                  # otherwise include ALL columns from the actual file
                  key_cols = key_cols_from_criteria if key_cols_from_criteria else columns

                  for row in rows:
                      clean_row = {k: v for k, v in row.items() if k in key_cols}
                      if clean_row:
                          all_rows.append(clean_row)

              limited = all_rows[:50]

              summary = (
                  f"Spreadsheet: {data.get('name', 'Unknown')}, "
                  f"Total rows: {len(all_rows)}, Showing: {len(limited)}, "
                  f"Columns: {list(set(columns_info))}"
              )

              return {
                  'cleaned_data': json.dumps(limited, default=str),
                  'column_summary': summary,
                  'criteria_text': criteria_text
              }
        code_language: python3
        outputs:
          cleaned_data:
            children: null
            type: string
          column_summary:
            children: null
            type: string
          criteria_text:
            children: null
            type: string
        selected: false
        title: 数据预处理
        type: code
        variables:
        - value_selector:
          - '1773108433359'
          - spreadsheet_data
          value_type: string
          variable: spreadsheet_data
        - value_selector:
          - '1773108433359'
          - success_criteria
          value_type: string
          variable: success_criteria
      height: 52
      id: '1773108650376'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
            thinking_mode: false
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_config:
          jinja2_variables:
          - value_selector:
            - '1773108650376'
            - column_summary
            variable: column_summary
          - value_selector:
            - '1773108650376'
            - cleaned_data
            variable: cleaned_data
          - value_selector:
            - '1773108650376'
            - criteria_text
            variable: criteria_text
        prompt_template:
        - edition_type: jinja2
          role: system
          jinja2_text: |
            You are a data analysis expert. Analyze the provided spreadsheet data and identify performance anomalies.

            {% if criteria_text %}
            Use the following dataset-specific criteria to guide your analysis. These criteria were automatically generated from the column names and define what valid data looks like and what counts as anomalous:

            {{ criteria_text }}

            Apply these rules strictly when detecting anomalies and setting thresholds.
            {% else %}
            No predefined criteria were provided. Infer appropriate analysis rules from the column names and data values. Look for outliers, zero values where positives are expected, ratios that are mathematically impossible, and any metric that deviates significantly from the rest of the dataset.
            {% endif %}

            You MUST return ONLY valid JSON (no markdown, no explanation, no code fences) with this exact structure:

            {
              "anomalies": [
                {
                  "metric": "one of: ROAS, CPA, CTR, CONVERSION_RATE, REVENUE, PURCHASES, CLICKS, IMPRESSIONS, CPC, CPM, AD_SPEND, AOV",
                  "movement": "one of: SHARP_DECREASE, MODERATE_DECREASE, SLIGHT_DECREASE, SHARP_INCREASE, MODERATE_INCREASE, SLIGHT_INCREASE, VOLATILE, UNEXPECTED_SPIKE, UNEXPECTED_DROP, NO_SIGNIFICANT_CHANGE",
                  "scope_type": "one of: CAMPAIGN, AD_SET, AD, CHANNEL, AUDIENCE, REGION",
                  "scope_value": "name of the affected item",
                  "delta_value": -35.0,
                  "delta_unit": "one of: PERCENT, CURRENCY, ABSOLUTE",
                  "period": "one of: LAST_7_DAYS, LAST_3_DAYS, LAST_24_HOURS, LAST_14_DAYS, LAST_30_DAYS",
                  "description": "Human-readable description of the anomaly"
                }
              ],
              "suggested_decision": {
                "title": "Short title for the decision",
                "context_summary": "Background context explaining why this decision is needed",
                "reasoning": "Detailed reasoning for the recommended action",
                "risk_level": "one of: LOW, MEDIUM, HIGH",
                "confidence": 4,
                "options": [
                  {"text": "Option description", "order": 0}
                ]
              },
              "recommended_tasks": [
                {
                  "type": "one of: optimization, alert, asset, execution, budget, report, scaling, communication, retrospective, experiment, platform_policy_update",
                  "summary": "Task description",
                  "priority": "one of: HIGH, MEDIUM, LOW"
                }
              ]
            }

            Rules:
            - Suggest at least 2 options and at most 4 for the decision
            - Suggest 1-5 tasks based on the anomalies found
            - If no anomalies found, return empty anomalies array with a simple "no issues" decision
            - confidence must be an integer from 1 to 5
            - Return ONLY the JSON object, nothing else
          text: ''
        - edition_type: jinja2
          jinja2_text: |
            Data summary: {{ column_summary }}

            Analyze the following data and identify anomalies:

            {{ cleaned_data }}
          role: user
          text: ''
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773108945724'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          def main(analysis_json: str) -> dict:
              import json

              text = analysis_json.strip()
              if text.startswith('```json'):
                  text = text[7:]
              if text.startswith('```'):
                  text = text[3:]
              if text.endswith('```'):
                  text = text[:-3]
              text = text.strip()

              try:
                  result = json.loads(text)
              except json.JSONDecodeError:
                  return {'validated_result': analysis_json, 'is_valid': 0}

              if not isinstance(result.get('anomalies'), list):
                  return {'validated_result': analysis_json, 'is_valid': 0}
              if not isinstance(result.get('suggested_decision'), dict):
                  return {'validated_result': analysis_json, 'is_valid': 0}
              if not isinstance(result.get('recommended_tasks'), list):
                  return {'validated_result': analysis_json, 'is_valid': 0}

              valid_metrics = {
                  'ROAS', 'CPA', 'CTR', 'CONVERSION_RATE', 'REVENUE', 'PURCHASES',
                  'CLICKS', 'IMPRESSIONS', 'CPC', 'CPM', 'AD_SPEND', 'AOV'
              }
              valid_movements = {
                  'SHARP_INCREASE', 'MODERATE_INCREASE', 'SLIGHT_INCREASE',
                  'NO_SIGNIFICANT_CHANGE', 'SLIGHT_DECREASE', 'MODERATE_DECREASE',
                  'SHARP_DECREASE', 'VOLATILE', 'UNEXPECTED_SPIKE', 'UNEXPECTED_DROP'
              }
              valid_scope_types = {'CAMPAIGN', 'AD_SET', 'AD', 'CHANNEL', 'AUDIENCE', 'REGION'}
              valid_delta_units = {'PERCENT', 'CURRENCY', 'ABSOLUTE'}
              valid_periods = {'LAST_24_HOURS', 'LAST_3_DAYS', 'LAST_7_DAYS', 'LAST_14_DAYS', 'LAST_30_DAYS'}
              valid_risk = {'LOW', 'MEDIUM', 'HIGH'}
              valid_task_types = {
                  'budget', 'asset', 'report', 'retrospective', 'experiment',
                  'execution', 'scaling', 'alert', 'optimization', 'communication',
                  'platform_policy_update'
              }
              valid_priorities = {'HIGH', 'MEDIUM', 'LOW'}

              for a in result['anomalies']:
                  if a.get('metric') not in valid_metrics:
                      a['metric'] = 'ROAS'
                  if a.get('movement') not in valid_movements:
                      a['movement'] = 'MODERATE_DECREASE'
                  if a.get('scope_type') not in valid_scope_types:
                      a['scope_type'] = 'CAMPAIGN'
                  if a.get('delta_unit') not in valid_delta_units:
                      a['delta_unit'] = 'PERCENT'
                  if a.get('period') not in valid_periods:
                      a['period'] = 'LAST_7_DAYS'
                  try:
                      a['delta_value'] = float(a.get('delta_value', 0))
                  except (TypeError, ValueError):
                      a['delta_value'] = 0.0

              sd = result['suggested_decision']
              if sd.get('risk_level') not in valid_risk:
                  sd['risk_level'] = 'MEDIUM'
              if not isinstance(sd.get('confidence'), int) or sd['confidence'] < 1 or sd['confidence'] > 5:
                  try:
                      sd['confidence'] = max(1, min(5, int(sd.get('confidence', 3))))
                  except (TypeError, ValueError):
                      sd['confidence'] = 3
              options = sd.get('options', [])
              if not options:
                  sd['options'] = [{'text': 'Review and take appropriate action', 'order': 0}]
              else:
                  for i, opt in enumerate(options):
                      if 'order' not in opt:
                          opt['order'] = i

              for t in result['recommended_tasks']:
                  if t.get('type') not in valid_task_types:
                      t['type'] = 'optimization'
                  if t.get('priority') not in valid_priorities:
                      t['priority'] = 'MEDIUM'

              return {
                  'validated_result': json.dumps(result),
                  'is_valid': 1
              }
        code_language: python3
        outputs:
          is_valid:
            children: null
            type: number
          validated_result:
            children: null
            type: string
        selected: false
        title: 验证输出
        type: code
        variables:
        - value_selector:
          - '1773108945724'
          - text
          value_type: string
          variable: analysis_json
      height: 52
      id: '1773109488777'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 03d6dfcf-9ae2-4c6f-b563-a3f176b77a41
            value: '1'
            varType: number
            variable_selector:
            - '1773109488777'
            - is_valid
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1773109958040'
      position:
        x: 1288
        y: 282
      positionAbsolute:
        x: 1288
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773109488777'
          - validated_result
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1773110084927'
      position:
        x: 1590
        y: 282
      positionAbsolute:
        x: 1590
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773108945724'
          - text
          value_type: string
          variable: result
        selected: false
        title: 输出 2
        type: end
      height: 88
      id: '1773110151699'
      position:
        x: 1590
        y: 409
      positionAbsolute:
        x: 1590
        y: 409
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 6.324102083517687
      y: -7.468627426753699
      zoom: 0.8708378832470527
