docs/dify-workflows/MediaJira Spreadsheet Analysis.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: MediaJira Spreadsheet Analysis
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.15@ca2b8f2599b87de968354f0e2ccbbc0d76bac5ebf275c3f0fbdae48881d74518
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1773108433359-source-1773108650376-target
      source: '1773108433359'
      sourceHandle: source
      target: '1773108650376'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1773108650376--1773108945724-target
      source: '1773108650376'
      sourceHandle: source
      target: '1773108945724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1773108945724--1773109488777-target
      source: '1773108945724'
      sourceHandle: source
      target: '1773109488777'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1773109488777--1773109958040-target
      source: '1773109488777'
      sourceHandle: source
      target: '1773109958040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773109958040-true-1773110084927-target
      source: '1773109958040'
      sourceHandle: 'true'
      target: '1773110084927'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773109958040-false-1773110151699-target
      source: '1773109958040'
      sourceHandle: 'false'
      target: '1773110151699'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: spreadsheet_data
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: spreadsheet_data
      height: 109
      id: '1773108433359'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(spreadsheet_data: str) -> dict:\n    import json\n\n    try:\n\
          \        data = json.loads(spreadsheet_data)\n    except json.JSONDecodeError:\n\
          \        return {\n            'cleaned_data': spreadsheet_data,\n     \
          \       'column_summary': 'Failed to parse JSON, passing raw data'\n   \
          \     }\n\n    all_rows = []\n    columns_info = []\n\n    sheets = data.get('sheets',\
          \ [])\n    for sheet in sheets:\n        columns = sheet.get('columns',\
          \ [])\n        columns_info.extend(columns)\n        rows = sheet.get('rows',\
          \ [])\n\n        # 提取关键列，减少 Token 消耗\n        key_cols = [\n           \
          \ 'Name', 'Status', 'Cost', 'Total Revenue', 'Revenue',\n            'ROAS',\
          \ 'ROI', 'Clicks', 'CTR', 'CPA', 'CPC', 'CPM',\n            'Impressions',\
          \ 'Conversions', 'Purchases', 'Ad Spend', 'AOV'\n        ]\n        for\
          \ row in rows:\n            clean_row = {}\n            for k, v in row.items():\n\
          \                if k in key_cols or len(key_cols) == 0:\n             \
          \       clean_row[k] = v\n            if clean_row:\n                all_rows.append(clean_row)\n\
          \n    # 限制行数防止超时\n    limited = all_rows[:50]\n\n    summary = f\"Spreadsheet:\
          \ {data.get('name', 'Unknown')}, Total rows: {len(all_rows)}, Showing: {len(limited)},\
          \ Columns: {list(set(columns_info))}\"\n\n    return {\n        'cleaned_data':\
          \ json.dumps(limited, default=str),\n        'column_summary': summary\n\
          \    }"
        code_language: python3
        outputs:
          cleaned_data:
            children: null
            type: string
          column_summary:
            children: null
            type: string
        selected: false
        title: 数据预处理
        type: code
        variables:
        - value_selector:
          - '1773108433359'
          - spreadsheet_data
          value_type: string
          variable: spreadsheet_data
      height: 52
      id: '1773108650376'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
            thinking_mode: false
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_config:
          jinja2_variables:
          - value_selector:
            - '1773108650376'
            - column_summary
            variable: column_summary
          - value_selector:
            - '1773108650376'
            - cleaned_data
            variable: cleaned_data
        prompt_template:
        - id: a744763d-86d7-4ee1-b017-710ea4211f85
          role: system
          text: "You are a professional media buying analyst for digital advertising\
            \ campaigns.\n\nAnalyze the provided campaign data and identify performance\
            \ anomalies.\n\nYou MUST return ONLY valid JSON (no markdown, no explanation,\
            \ no code fences) with this exact structure:\n\n{\n  \"anomalies\": [\n\
            \    {\n      \"metric\": \"one of: ROAS, CPA, CTR, CONVERSION_RATE, REVENUE,\
            \ PURCHASES, CLICKS, IMPRESSIONS, CPC, CPM, AD_SPEND, AOV\",\n      \"\
            movement\": \"one of: SHARP_DECREASE, MODERATE_DECREASE, SLIGHT_DECREASE,\
            \ SHARP_INCREASE, MODERATE_INCREASE, SLIGHT_INCREASE, VOLATILE, UNEXPECTED_SPIKE,\
            \ UNEXPECTED_DROP, NO_SIGNIFICANT_CHANGE\",\n      \"scope_type\": \"\
            one of: CAMPAIGN, AD_SET, AD, CHANNEL, AUDIENCE, REGION\",\n      \"scope_value\"\
            : \"name of the affected campaign/ad set/ad\",\n      \"delta_value\"\
            : -35.0,\n      \"delta_unit\": \"one of: PERCENT, CURRENCY, ABSOLUTE\"\
            ,\n      \"period\": \"one of: LAST_7_DAYS, LAST_3_DAYS, LAST_24_HOURS,\
            \ LAST_14_DAYS, LAST_30_DAYS\",\n      \"description\": \"Human-readable\
            \ description of the anomaly\"\n    }\n  ],\n  \"suggested_decision\"\
            : {\n    \"title\": \"Short title for the decision\",\n    \"context_summary\"\
            : \"Background context explaining why this decision is needed\",\n   \
            \ \"reasoning\": \"Detailed reasoning for the recommended action\",\n\
            \    \"risk_level\": \"one of: LOW, MEDIUM, HIGH\",\n    \"confidence\"\
            : 4,\n    \"options\": [\n      {\"text\": \"Option description\", \"\
            order\": 0}\n    ]\n  },\n  \"recommended_tasks\": [\n    {\n      \"\
            type\": \"one of: optimization, alert, asset, execution, budget, report,\
            \ scaling, communication, retrospective, experiment, platform_policy_update\"\
            ,\n      \"summary\": \"Task description\",\n      \"priority\": \"one\
            \ of: HIGH, MEDIUM, LOW\"\n    }\n  ]\n}\n\nRules:\n- Focus on ACTIVE\
            \ campaigns with significant spend\n- Flag campaigns with ROAS < 1.0 and\
            \ cost > $200 as critical\n- Flag campaigns spending > $200 with $0 revenue\
            \ as critical\n- Suggest at least 2 options and at most 4 for the decision\n\
            - Suggest 1-5 tasks based on the anomalies found\n- If no anomalies found,\
            \ return empty anomalies array with a simple \"no issues\" decision\n\
            - confidence must be an integer from 1 to 5\n- Return ONLY the JSON object,\
            \ nothing else"
        - edition_type: jinja2
          id: 40cdccda-0c97-46ed-86e4-b807483c47c8
          jinja2_text: 'Data summary:{{ column_summary }}

            Analyze the following campaign data and identify anomalies:

            {{ cleaned_data }}'
          role: user
          text: 'Data summary:'
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773108945724'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(analysis_json: str) -> dict:\n    import json\n\n    # 清理可能的\
          \ markdown 代码块包裹\n    text = analysis_json.strip()\n    if text.startswith('```json'):\n\
          \        text = text[7:]\n    if text.startswith('```'):\n        text =\
          \ text[3:]\n    if text.endswith('```'):\n        text = text[:-3]\n   \
          \ text = text.strip()\n\n    try:\n        result = json.loads(text)\n \
          \   except json.JSONDecodeError:\n        return {'validated_result': analysis_json,\
          \ 'is_valid': 0}\n\n    # 验证顶层结构\n    if not isinstance(result.get('anomalies'),\
          \ list):\n        return {'validated_result': analysis_json, 'is_valid':\
          \ 0}\n    if not isinstance(result.get('suggested_decision'), dict):\n \
          \       return {'validated_result': analysis_json, 'is_valid': 0}\n    if\
          \ not isinstance(result.get('recommended_tasks'), list):\n        return\
          \ {'validated_result': analysis_json, 'is_valid': 0}\n\n    # 验证并修复枚举值\n\
          \    valid_metrics = {\n        'ROAS', 'CPA', 'CTR', 'CONVERSION_RATE',\
          \ 'REVENUE', 'PURCHASES',\n        'CLICKS', 'IMPRESSIONS', 'CPC', 'CPM',\
          \ 'AD_SPEND', 'AOV'\n    }\n    valid_movements = {\n        'SHARP_INCREASE',\
          \ 'MODERATE_INCREASE', 'SLIGHT_INCREASE',\n        'NO_SIGNIFICANT_CHANGE',\
          \ 'SLIGHT_DECREASE', 'MODERATE_DECREASE',\n        'SHARP_DECREASE', 'VOLATILE',\
          \ 'UNEXPECTED_SPIKE', 'UNEXPECTED_DROP'\n    }\n    valid_scope_types =\
          \ {'CAMPAIGN', 'AD_SET', 'AD', 'CHANNEL', 'AUDIENCE', 'REGION'}\n    valid_delta_units\
          \ = {'PERCENT', 'CURRENCY', 'ABSOLUTE'}\n    valid_periods = {'LAST_24_HOURS',\
          \ 'LAST_3_DAYS', 'LAST_7_DAYS', 'LAST_14_DAYS', 'LAST_30_DAYS'}\n    valid_risk\
          \ = {'LOW', 'MEDIUM', 'HIGH'}\n    valid_task_types = {\n        'budget',\
          \ 'asset', 'report', 'retrospective', 'experiment',\n        'execution',\
          \ 'scaling', 'alert', 'optimization', 'communication',\n        'platform_policy_update'\n\
          \    }\n    valid_priorities = {'HIGH', 'MEDIUM', 'LOW'}\n\n    # 修复 anomalies\
          \ 中的无效枚举值\n    for a in result['anomalies']:\n        if a.get('metric')\
          \ not in valid_metrics:\n            a['metric'] = 'ROAS'\n        if a.get('movement')\
          \ not in valid_movements:\n            a['movement'] = 'MODERATE_DECREASE'\n\
          \        if a.get('scope_type') not in valid_scope_types:\n            a['scope_type']\
          \ = 'CAMPAIGN'\n        if a.get('delta_unit') not in valid_delta_units:\n\
          \            a['delta_unit'] = 'PERCENT'\n        if a.get('period') not\
          \ in valid_periods:\n            a['period'] = 'LAST_7_DAYS'\n        #\
          \ 确保 delta_value 是数字\n        try:\n            a['delta_value'] = float(a.get('delta_value',\
          \ 0))\n        except (TypeError, ValueError):\n            a['delta_value']\
          \ = 0.0\n\n    # 修复 suggested_decision\n    sd = result['suggested_decision']\n\
          \    if sd.get('risk_level') not in valid_risk:\n        sd['risk_level']\
          \ = 'MEDIUM'\n    if not isinstance(sd.get('confidence'), int) or sd['confidence']\
          \ < 1 or sd['confidence'] > 5:\n        try:\n            sd['confidence']\
          \ = max(1, min(5, int(sd.get('confidence', 3))))\n        except (TypeError,\
          \ ValueError):\n            sd['confidence'] = 3\n    # 确保 options 存在且有\
          \ order\n    options = sd.get('options', [])\n    if not options:\n    \
          \    sd['options'] = [{'text': 'Review and take appropriate action', 'order':\
          \ 0}]\n    else:\n        for i, opt in enumerate(options):\n          \
          \  if 'order' not in opt:\n                opt['order'] = i\n\n    # 修复\
          \ recommended_tasks\n    for t in result['recommended_tasks']:\n       \
          \ if t.get('type') not in valid_task_types:\n            t['type'] = 'optimization'\n\
          \        if t.get('priority') not in valid_priorities:\n            t['priority']\
          \ = 'MEDIUM'\n\n    return {\n        'validated_result': json.dumps(result),\n\
          \        'is_valid': 1\n    }\n"
        code_language: python3
        outputs:
          is_valid:
            children: null
            type: number
          validated_result:
            children: null
            type: string
        selected: false
        title: 验证输出
        type: code
        variables:
        - value_selector:
          - '1773108945724'
          - text
          value_type: string
          variable: analysis_json
      height: 52
      id: '1773109488777'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 03d6dfcf-9ae2-4c6f-b563-a3f176b77a41
            value: '1'
            varType: number
            variable_selector:
            - '1773109488777'
            - is_valid
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1773109958040'
      position:
        x: 1288
        y: 282
      positionAbsolute:
        x: 1288
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773109488777'
          - validated_result
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1773110084927'
      position:
        x: 1590
        y: 282
      positionAbsolute:
        x: 1590
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773108945724'
          - text
          value_type: string
          variable: result
        selected: false
        title: 输出 2
        type: end
      height: 88
      id: '1773110151699'
      position:
        x: 1590
        y: 409
      positionAbsolute:
        x: 1590
        y: 409
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 6.324102083517687
      y: -7.468627426753699
      zoom: 0.8708378832470527
  rag_pipeline_variables: []
