docs/dify-workflows/MediaJira Agent Follow-up.yml
app:
  description: MediaJira agent follow-up workflow for one post-analysis message. Generates
    a user-facing reply and optional structured forwards.
  icon: 馃
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: MediaJira Agent Follow-up
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start_to_followup_llm
      source: start_node
      sourceHandle: source
      target: followup_llm_node
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: followup_llm_to_parse
      source: followup_llm_node
      sourceHandle: source
      target: parse_output_node
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: parse_to_end
      source: parse_output_node
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: Accepts serialized chat history, analysis result, and project members
          for one follow-up message.
        selected: true
        title: Start
        type: start
        variables:
        - label: Chat Messages
          max_length: 120000
          options: []
          required: true
          type: paragraph
          variable: chat_messages
        - label: Analysis Result JSON
          max_length: 120000
          options: []
          required: true
          type: paragraph
          variable: analysis_result
        - label: Project Members JSON
          max_length: 60000
          options: []
          required: true
          type: paragraph
          variable: project_members
        - label: Current Username
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: current_username
        x-outputs:
        - name: chat_messages
          type: string
        - name: analysis_result
          type: string
        - name: project_members
          type: string
        - name: current_username
          type: string
      height: 247
      id: start_node
      position:
        x: 1.3195079107728702
        y: 0
      positionAbsolute:
        x: 1.3195079107728702
        y: 0
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Explains the analysis, prepares a brief report, and optionally emits
          structured forwards.
        memory:
          enabled: false
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: followup_system_prompt
          role: system
          selected: false
          text: "You are the MediaJira post-analysis follow-up assistant.\n\n  Your\
            \ job is limited to one follow-up after an analysis has already been completed.\n\
            \n  You must:\n  1. Read the analysis result and the chat history.\n \
            \ 2. Produce a clear user-facing reply in plain business language.\n \
            \ 3. Optionally prepare structured forwards when the user explicitly asks\
            \ to forward or notify project\n  members.\n\n  You must not:\n  - create\
            \ decisions\n  - create tasks\n  - invent project members\n  - guess ambiguous\
            \ recipients\n\n  Important input rules:\n  - The chat history is a serialized\
            \ transcript with role-based labels such as [user]: and [assistant]:.\n\
            \  - Do not expect usernames inside the transcript.\n  - current_username\
            \ is the exact username of the current user when available.\n  - Treat\
            \ the final [user]: turn as the latest follow-up request.\n  - If the\
            \ final user request says \"me\", \"myself\", or \"myself in chat\", resolve\
            \ the recipient to current_username.\n  - If forwarding is requested,\
            \ identify recipients only from project_members.\n\n  Output rules:\n\
            \  - Return valid JSON only.\n  - Do not wrap the JSON in markdown fences.\n\
            \  - The JSON schema must be:\n    {\n      \"status\": \"completed\"\
            \ | \"needs_clarification\",\n      \"text\": \"string\",\n      \"forwards\"\
            : [\n        {\n          \"username\": \"exact project username only\"\
            ,\n          \"content\": \"string\"\n        }\n      ]\n    }\n  - \"\
            text\" is always required.\n  - \"forwards\" must always be present and\
            \ be an array.\n  - Use \"completed\" when the request has been fully\
            \ handled.\n  - Use \"needs_clarification\" when forwarding was requested\
            \ but the recipient is missing, ambiguous, or not\n  uniquely identifiable\
            \ from project_members.\n  - Only use exact usernames that exist in project_members.\n\
            \  - Only ask for clarification on \"me\" or \"myself\" if current_username\
            \ is missing, empty, or not found in project_members.\n  - Never use first\
            \ name or last name alone as a recipient identifier.\n  - If the user\
            \ only wants explanation or summarization, return forwards as []."
        - id: 57c0fb90-8a09-42c5-8769-5f90c5f27bef
          role: user
          text: "Chat history:\n  {{#start_node.chat_messages#}}\n\n  Analysis result\
            \ JSON:\n  {{#start_node.analysis_result#}}\n\n  Project members JSON:\n\
            \  {{#start_node.project_members#}}\n\n  Current username:\n  {{#start_node.current_username#}}\n\
            \n  Return valid JSON only."
        selected: false
        title: Follow-up LLM
        type: llm
        variables: []
        vision:
          enabled: false
        x-io-contracts:
          fixed_outputs:
          - name: text
            type: string
        x-outputs:
        - name: text
          type: string
      height: 148
      id: followup_llm_node
      position:
        x: 320
        y: 0
      positionAbsolute:
        x: 320
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\n\ndef main(llm_text: str) -> dict:\n    raw = (llm_text\
          \ or \"\").strip()\n    try:\n        parsed = json.loads(raw)\n    except\
          \ Exception:\n        return {\n            \"status\": \"completed\",\n\
          \            \"text\": raw,\n            \"forwards\": [],\n        }\n\n\
          \    status = parsed.get(\"status\") or \"completed\"\n    if status not\
          \ in (\"completed\", \"needs_clarification\"):\n        status = \"completed\"\
          \n\n    text = parsed.get(\"text\")\n    if not isinstance(text, str) or\
          \ not text.strip():\n        text = raw\n\n    forwards = parsed.get(\"\
          forwards\", [])\n    if not isinstance(forwards, list):\n        forwards\
          \ = []\n\n    normalized_forwards = []\n    for item in forwards:\n    \
          \    if not isinstance(item, dict):\n            continue\n        username\
          \ = item.get(\"username\")\n        content = item.get(\"content\")\n  \
          \      if not isinstance(username, str) or not username.strip():\n     \
          \       continue\n        if not isinstance(content, str) or not content.strip():\n\
          \            continue\n        normalized_forwards.append(\n           \
          \ {\n                \"username\": username.strip(),\n                \"\
          content\": content.strip(),\n            }\n        )\n\n    return {\n\
          \        \"status\": status,\n        \"text\": text.strip(),\n        \"\
          forwards\": normalized_forwards,\n    }\n"
        code_language: python3
        desc: Parses the LLM JSON output into stable workflow outputs.
        outputs:
          forwards:
            children: null
            type: array[object]
          status:
            children: null
            type: string
          text:
            children: null
            type: string
        selected: false
        title: Parse JSON
        type: code
        variables:
        - value_selector:
          - followup_llm_node
          - text
          variable: llm_text
        x-outputs:
        - name: status
          type: string
        - name: text
          type: string
        - name: forwards
          type: array[object]
      height: 96
      id: parse_output_node
      position:
        x: 640
        y: 0
      positionAbsolute:
        x: 640
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: Returns stable follow-up outputs for the backend.
        outputs:
        - value_selector:
          - parse_output_node
          - status
          variable: status
        - value_selector:
          - parse_output_node
          - text
          variable: text
        - value_selector:
          - parse_output_node
          - forwards
          variable: forwards
        selected: false
        title: End
        type: end
        x-outputs:
        - name: status
          type: string
        - name: text
          type: string
        - name: forwards
          type: array[object]
      height: 184
      id: end_node
      position:
        x: 960
        y: 0
      positionAbsolute:
        x: 960
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 187.38269225014614
      y: 304.2069295565399
      zoom: 0.7578582832551993
  rag_pipeline_variables: []
